<div class="layout-container">
    <!-- Left Menu -->
    <div class="menu-container">
        <div class="site-title">
            <img class="logo" ngSrc="assets/web-logo.png" width="40" height="40">
            <span>游游工具箱</span>
        </div>
        <ul nz-menu nzMode="inline" nzTheme="light">
            <li nz-menu-item nzMatchRouter routerLink="/excel/split">
                <span nz-icon nzType="file-excel" nzTheme="outline"></span>
                <span>Excel拆分</span>
            </li>
            <li nz-menu-item nzMatchRouter routerLink="/text/compare">
                <span nz-icon nzType="file-text" nzTheme="outline"></span>
                <span>文本比对</span>
            </li>
            <li nz-submenu nzTitle="TXT" nzIcon="setting">
                <ul>
                    <li nz-menu-item routerLink="/txt/split" >TXT拆分</li>
                    <li nz-menu-item routerLink="/txt/merge" >TXT合并</li>
                </ul>
            </li>
        </ul>
    </div>

    <!-- Right Content -->
    <div class="content-container">
        <router-outlet></router-outlet>
    </div>
</div>